/* banner css */
.banner {
  &__area {
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content {
  }
  &__title {
    font-size: 40px;
    color: $white;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  &__desc {
    max-width: 40%;
    color: #fff;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
    word-spacing: 2px;
  }
}
